<div class="out-container-footer">
<footer class="foot">
	<div class="prelatif container">
		<div class="clear height-30"></div>
		<div class="height-3"></div>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="menu-footer">
					<a href="{{ url('homepage') }}">Home</a> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
					<a href="{{ url('product') }}">PRODUCTS</a> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
					<a href="{{ url('agent') }}">BECOME AGENT</a> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
					{# <a href="{{ url('distributor') }}">OUR DISTRIBUTORS</a> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; #}
					<a href="{{ url('about') }}">COMPANY</a> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
					<a href="{{ url('contactus') }}">CONTACT US</a>
				</div>
				<div class="clear height-35"></div>
				<div class="ft-infofooter">
					<div class="fleft margin-right-35">
						<span>call us now</span> <br>
       					<i class="fa fa-phone"></i> &nbsp; 0812 3339 8600
					</div>
					<div class="fleft margin-right-35">
						<span>EMAIL US</span> <br>
       					<i class="fa fa-envelope"></i> &nbsp; <a href="mailto:info@gartnerlighting.com">info@gartnerlighting.com</a>
					</div>
					<div class="clear"></div>
				</div>

			</div>
			<div class="col-md-6 col-sm-6">
				<div class="fright logo-footer"><a href="{{ url('homepage') }}"><img src="{{ app.request.baseurl }}/asset/images/lgo-gartner-footer.png" alt="logo footer Gartner"></a></div>
				<div class="clear height-30"></div>
				<div class="t-copyright text-right">
					Copyright &copy; 2015 Gartner Lighting Industry. <br>
					Website design by <a href="http://markdesign.net/" title="Website Design Surabaya" target="_blank">Mark Design</a>.
				</div>
			</div>
		</div>
		
		<div class="clear height-20"></div>
	</div>
</footer>
</div>