<div class="kanan">
	<div class="kanan-logo">
		<img class="pcn-logo3" src="{{ app.request.baseurl }}/asset/images/logo-triangle.svg" alt="Logo Archimetric">	
	</div>
	<div class="footer">
		<i class="fa fa-envelope">&nbsp;info@archimetric.co.id</i>
	</div>
</div>

<div class="wraps_top_panel_menu">
	<div class="top-panel">
		<div class="prelatife h100pers">
			<div class="inside">
				<div class="clear height-1"></div>
				<div class="lgo-web-inside-leftpanel">
					<div class="tengah text-left block_logo_head">
						<a href="javascript:;" class="trigger_btn hide_leftmenu">
							<img class="pcn-logo2 inline-pict" src="{{ app.request.baseurl }}/asset/images/logo_texts.svg" alt="Logo Archimetric">
						</a>
						<div class="menu-atas">
							<ul class="">
								<li><a href="{{ url('homepage') }}">HOME</a><span>&nbsp;</span></li>
								<li class="separator"></li>
								<li><a href="{{ url('about') }}">PROFILE</a><span>&nbsp;</span></li>
								<li class="separator"></li>
								<li><a href="{{ url('project') }}">PROJECTS</a><span>&nbsp;</span></li>
								<li class="separator"></li>
								<li><a href="{{ url('contactus') }}">CONTACT</a><span>&nbsp;</span></li>
								<li class="separator"></li>
								<li><a href="{{ url('careers') }}">CAREERS</a><span>&nbsp;</span></li>
								<li class="separator"></li>
							</ul>
							
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="cont-footer-left-panel">
					<div class="prelatife cont-inside">
						<div class="bottom text-center tengah">
							<p>
								<img src="{{ app.request.baseurl }}/asset/images/bottom-logo-pt-archimetric.svg" alt="" class="simples_foot_logo pc-center">
							</p>
							<p><span class="red">ADDRESS</span> <br>
								Jl. Raya Manyar Tirtomoyo 7 <br>
								Surabaya 60118, Indonesia <br>
								TEL. 62 31 5946980
							</p>
								<p>
									<span class="red">DROP US AN EMAIL</span> <br>
									<a href="mailto:info@archimetric.co.id ">info@archimetric.co.id </a>
								</p>
						</div>

						<div class="clear height-0"></div>
						<div class="t-copyrighttss">
							WEB DESIGN BY <a href="http://markdesign.net" target="_blank" title="Website Design Surabaya">MARKDESIGN</a>.
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div class="clear"></div>
			</div>
			
			<div class="clear"></div>
		</div>
	</div>
</div>


